# Dependencies
node_modules/

# Build
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Cache
.cache/
.tmp/
.temp/

# Next.js
.next/

# Nuxt
.nuxt/

# React
*.tsbuildinfo

# Vite
vite.svg

# Parcel
.parcel-cache/

# Testing
/playwright-report/
/test-results/

# OS files
Thumbs.db